.drop-area {
  transition: 0.1s all ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  font-weight: bold;
  font-size: 2em;
  background-color: #CCC;
  border: 5px dashed #AAA;
  box-sizing: border-box;
}
.grow-enter,
.grow-appear {
  opacity: 0.01;
  height: 0 !important;
}
.grow-enter.grow-enter-active,
.grow-appear.grow-appear-active {
  opacity: 1;
}
.grow-leave {
  opacity: 1;
}
.grow-leave.grow-leave-active {
  transition-delay: 0.1s;
  opacity: 0.01;
  height: 0 !important;
}
